<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TaxiStrat</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	
	<body>
		<h1>TaxiStat: Understanding NYC activity through taxi data.</h1>
	    <form id='menu' method='post' action='index' >
	      <p>
	    Enter you location: <input type='text' name='address' autocomplete="off"/><br />
	    Day of the week: <input type='text' name='dayofweek' autocomplete="off"/><br />
		Time of the day: <input type='text' name='timeofday' autocomplete="off"/><br />
		<!--or <input type="checkbox" name="current_location" value="Y"> use current location<br />
		
		<input type="checkbox" name="max" value="Y"> I want to pick up a new passenger quickly<br />
		Options:
		<input type="checkbox" name="max" value="Y"> I want to pick up a new passenger quickly<br />
		<input type="checkbox" name="fare" value="Y"> I want to maximize the fare amount<br />
		<input type="checkbox" name="length" value="Y"> I prefer shorter trips<br />
		<input type="checkbox" name="traffic" value="Y"> Display traffic in map<br />
		</p>
	      <p>-->
	    <input type='submit' value='Show me!' />
	      </p>
	    </form>
		
		
	</body>
</html>
